:root {
    --color1: #bad0e7;
    --color2: #f0c588;
    --color3: #ecdcd8;
    --color4: #a87e61;
    --color5: #b21111;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700;1,100;1,200;1,400&family=Roboto:wght@700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    background-image: url("WesWallpaper.jpg");
    background-position: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 650px;
    font-size: 14px;
    padding: 20px;
    background-color: var(--color1);
    background-image: url(div-texture.jpg);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: inset 10px 10px 35px -33px rgba(69,69,69,0.5), 10px 10px 35px -3px rgba(69,69,69,1);
    border-radius: 0.25rem;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.card:hover {
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
}

form {
    background-color: inherit;
    min-width: auto;
    margin-top: 20px;
    margin-right: 20px;
    filter: contrast(95%);
    border-radius: 0.25rem;
    -webkit-filter: contrast(95%);
}

h1 {
    position: relative;
    margin-bottom: .25rem;
    font-family: 'League Gothic';
    color: var(--color5);
    font-size: 25px;
    line-height: 1.0;
    letter-spacing: -0.037em;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--color5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 1px 1px 1px;
    filter: saturate(200%), brightness(200%);
    -webkit-filter: saturate(200%), brightness(200%);
}

p{
    text-shadow: 1px 1px 2px rgb(148, 148, 148);
    font-size: 18px;
}

.input {
    width: 100%;
    background-color: inherit;
    border: 1px dotted var(--color5);
    font: inherit;
}


textarea{
    min-height: 100px;
}

button {
    max-height: 35px;
    opacity: 80%;
    flex: 1;
    display: inline-block;
    font: inherit;
    background-color: var(--color3);
    width: 20%;
    min-width: fit-content;
    border: 2px inset black;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
}
  
    button:hover {
        outline: 1px outset gray;
    }
button[type = "submit"]{
    margin-top: 10px;
}
button[type = "cancel"]{
    align-self: center;
}
button[type = "seen"]{
    opacity: 100%;
    align-self: center;
    font: inherit;
    width: fit-content;
    background-color: inherit;
    border: 3px dotted gray;
    border-radius: 200rem;
    -webkit-border-radius: 200rem;
    -moz-border-radius: 200rem;
    -ms-border-radius: 200rem;
    -o-border-radius: 200rem;
}

button[type="add"]{
    padding-top: 0px;
    opacity: 98%;
    font-size:x-large;
    text-shadow: 0px 1px 2px rgb(148, 148, 148);
    height: fit-content;
    width: fit-content;
    outline: outset 2px var(--color4);
    border: none;
    background: var(--color2);
    background-image: url(button-texture.jpg);
}
button[type="add"]:hover{
    outline: inset 1px var(--color4);
}

@media screen and (min-width: 40em) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }
 
    .card {
        flex: 0 1 calc(70% - 1em);
        
    }
}
 
@media screen and (min-width: 60em) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }

    .card {
        flex: 0 1 calc(40% - 1em);
     }
}
 
 
@media screen and (min-width: 70em) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }

    .card {
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 19px;
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: 25px;
    }
}

#buttoncard {
    width: 15%;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

