:root {
    --color1: #DFC7ED;
    --color2: #C7EDD9;
    --color3: #A19887;
    --color4: #ECE7DE;
    --color5: #a180b5;
}

body {
    background: var(--color4);
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    align-items: center;
}

.card {
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color1);
    padding: 20px;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 5px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    
}

.card:hover {
    outline: #A19887 solid 10px;
}

.moviedata {
    display: block;
}

input[type='checkbox'] {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

button {
    background-color: var(--color4);
    border: 2px solid black;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
  }
  
    button:hover:enabled {
        background-color: var(--color2);
        padding: 8px 17px;
    }
    button:disabled {
        background-color: var(--color1);

    }

@media only screen and (max-width: 800px) {
    .card {
        max-width: 80%;
    }
   
}

@media screen and (min-width: 801px) {
    .card {
        max-width: 600px;
    }
}